body {
  margin: 0;
  font-family: Rubik, Arial, sans-serif;
  max-width: 1920px;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}
*{
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.link {
  text-decoration: none;
  color: inherit;
}
